name: CI
on:
  push:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # - name: Setup Node
      #   uses: actions/setup-node@v4
      #   with:
      #     node-version: 18

      - name: NPM install
        run: npm install

      - name: NPM test
        run: npm test
  
  second_job:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - run: echo "Second job running"